$main-bg: #B4CAD1;
$app-bg: #D0E8F2;
$vocab-pad-bg: #FEFCF6;
$display-bg: #DDE8EA;
$selected-category-bg: #9DBDC4;
$main-text: #456268;
$secondary-text: #F2F6F6;
$loading-bg: rgba(180, 202, 209, 0.9);
$loading-text: #FEFCF6;