@import '../styles/colors.scss';

#display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 378px;
  min-width: 378px;
  max-width: 378px;
  height: 378px;
  min-height: 378px;
  

  background: $vocab-pad-bg;
  border-radius: 8px;
}

h2 {
  font-family: Gaegu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  margin-bottom: 10px;
  color: $main-text;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 321px;
  height: 71px;

  background: $display-bg;
  border-radius: 8px;

  font-family: Gaegu;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  p {
    margin: 0;
    line-height: 29px;
  }

  margin-bottom: 24px;
  color: $main-text;
}

#category-display {
  display: flex;
  justify-content: space-between;
  width: 321px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  width: 156px;
  height: 42px;

  background: $display-bg;
  color: $main-text;
  
  border-radius: 8px;
}

input[type=radio] {
  display: none;
}

.radio label {
  margin-bottom: 0;
  &:hover { cursor: pointer; }

  font-family: Gaegu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.radio label::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 156px;
  height: 42px;

  border-radius: 8px;
}

