@import '../styles/colors.scss';
@import '../styles/breakpoint.scss';

#display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 306px;
  height: 306px;
  min-width: 306px;
  min-height: 306px;
  @media (min-width: $md) {
    width: 378px;
    height: 378px;
  }

  background: $vocab-pad-bg;
  border-radius: 8px;
}

h2 {
  font-family: Gaegu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  margin-bottom: 10px;
  color: $main-text;
}

#display-header {
  font-size: 28px;
  @media (min-width: $md) { font-size: 32px; }
}

#category-header {
  font-size: 22px;
  @media (min-width: $md) { font-size: 26px; }
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 240px;
  @media (min-width: $md) { width: 321px; }
  height: 71px;

  background: $display-bg;
  border-radius: 8px;

  font-family: Gaegu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  @media (min-width: $md) { font-size: 22px; }

  p {
    margin: 0;
    line-height: 24px;
    @media (min-width: $md) { line-height: 29px; }
  }

  margin-bottom: 24px;
  color: $main-text;
}

#category-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
  width: 240px;
  @media (min-width: $md) { width: 321px; }
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  width: 240px;
  @media (min-width: $md) { width: 156px; }
  height: 42px;

  background: $display-bg;
  color: $main-text;
  
  border-radius: 8px;
}

input[type=radio] {
  display: none;
}

.radio label {
  margin-bottom: 0;
  &:hover { cursor: pointer; }

  font-family: Gaegu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  @media (min-width: $md) { font-size: 20px; }
}

.radio label::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 156px;
  height: 42px;

  border-radius: 8px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}