@import '../styles/colors.scss';
@import '../styles/breakpoint.scss';

#pads-wrapper {
  position: relative;
}

#pads-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 9px 9px;

  padding-left: 0;
  padding-right: 0;
  width: auto;
  max-width: 378px;
}
