@import 'styles/colors.scss';
@import 'styles/breakpoint.scss';

#arabic-for-kids {
  padding-top: 16px;

  background: $app-bg;
  border-radius: 8px;
}

h1 {
  font-family: Gaegu, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  @media (min-width: $md) { font-size: 48px; }
  text-align: center;

  // padding-bottom: 8px;
  color: $main-text;
}
