@import 'styles/colors.scss';
@import 'styles/breakpoint.scss';

#app-wrapper {
  width: 100vw;
  @media (min-width: $md) { width: 504px; }
  @media (min-width: $lg) { width: 912px; }
}

#arabic-for-kids {
  padding-top: 16px;

  background: $app-bg;
  border-radius: 0;
  @media (min-width: $md) { border-radius: 8px; }
}

h1 {
  font-family: Gaegu, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;

  color: $main-text;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}